<%= stylesheet_link_tag 'index', :media => "all" %>


<div class="title-container">
<!-- <div class=title-image>
  <%= image_tag "index_image_2.png", class: "title2" %><br>
  <%= image_tag "index_image_3.png", class: "title3" %><br>
  <%= image_tag "index_image_4.png", class: "title4" %>
  </div> -->
</div>

