

.title-container {
  background-image: url(index_image_6);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: 'Klee One', cursive;
  position: relative;
}

.title1{
  position: absolute;
}

.button-container {
  width: 100%;
  height: 200px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
}

.title-image{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
