.textfield_title{
    background-color: #d6d6d6;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;

}

.textfield_question{
    background-color: #EAEAEA;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    border: 5px solid white;
}

.countbox{
    text-align: right;
}

input[type="title"] {
    width: 300px;
    height: 40px;
}

.titlefield{
    width: 80%
}

.remarkfield{
    width: 80%;
    height: 50px;
}
.form-check{
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

.questionfield{
    width: 80%;
    height: 50px;
}

.field{
    width: 100%;
}

.questionbox{
    width: 100%;
    margin: 0px;
}

.new_margin{
    width: 100%;
    height: 100px;
    background-color: white;
}

.new_submit{
    text-align: center;
    margin: 50px;
    
}

.submit-bt {
    width: 100px;
    height: 50px;
    background-color: burlywood;
  }

.countshiki{
    text-align: center;
    background-color: #d6d6d6;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*表示するテキストが切り替わる*/
.submit-btn{
    /*テキストの基点とするためrelativeを指定*/
  position: relative;
    /*ボタンの形状*/
  border: 1px solid #555;
  border-radius:25px;
    min-width:210px;
  padding: 20px;
    text-align: center;
  display: inline-block;
    text-decoration: none;
    color: #333;
    outline: none;
    /*アニメーションの指定*/
    transition: all .2s;
  }
  
  /*hoverした際の変化*/
  .submit-btn:hover{
  background:rgb(39, 39, 255);
  color:#fff;
  }
  
  .submit-btn span{
    /*絶対配置でテキストの位置を決める*/
  position: absolute;
  left: 50%;
  top:50%;
    transform:translate(-50%,-50%);
    /*アニメーションの指定*/
    transition: all .5s;
  /*ブロック要素にしてテキスト折り返しなし*/  
  display: block;
  white-space: nowrap;
  }
  
  /*差し替わるテキストの設定*/
  .submit-btn span:nth-child(2){
  opacity:0;/*透過0に*/
  }
  
  /*hoverするとテキストが入れ替わる設定*/
  .submit-btn:hover span:nth-child(1){
  opacity:0;/*透過0に*/
  }
  
  .submit-btn:hover span:nth-child(2){
  opacity:1;/*不透明に*/
  }